@font-face {
    font-family: 'geometria-light';
    src: url('/assets/fonts/geometria_light_macroman/geometria-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/geometria_light_macroman/geometria-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
