.hex-holder {
	display: inline-block;
	padding: 60px 0;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.hex-holder:hover .hex {
	opacity: 0.6;
}

.hex {
    width: 104px;
    // width: calc(100% * (1/5) - 5px);
    height: 60px;
    background: white;
    padding: 0 10px;
    position: relative;
    margin: 25px 2.5px 5px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 3px;
    filter: drop-shadow(2px 3px 3px $brand-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s linear;
    &:hover {
    	transform: scale(1.1);
    	opacity: 1 !important;
    	position: relative;
    	z-index: 9;
    }

    img {
    	max-width: 100%;
    	max-height: 100%;
    	object-fit: contain
    }

    &:before {
	    content: " ";
	    width: 0; height: 0;
	    border-bottom: 30px solid white;
	    border-left: 52px solid transparent;
	    border-right: 52px solid transparent;
	    position: absolute;
	    top: -30px;
	}

	&:after {
	    content: "";
	    width: 0;
	    position: absolute;
	    bottom: -30px;
	    border-top: 30px solid white;
	    border-left: 52px solid transparent;
	    border-right: 52px solid transparent;
	}
}

.hex-row {
    clear: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hex-2 {
	.hex {
		height: 105px;
	    width: 80px;
	    background: white;
	    padding: 10px 0;
	    position: relative;
	    margin: 5px 35px;
	    border-left: 1px solid white;
	    border-right: 1px solid white;
	    border-radius: 3px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    transition: all .2s linear;
	    &:hover {
	    	transform: scale(1.2);
	    	opacity: 1 !important;
	    }

	    img {
	    	max-width: 100%;
	    	max-height: 100%;
	    	object-fit: contain
	    }

	    &:before {
		    content: " ";
		    width: 0;
		    height: 0;
		    border-right: 30px solid white;
		    border-top: 52px solid transparent;
		    border-bottom: 52px solid transparent;
		    position: absolute;
		    left: -82px;
		    top: 0;
		}

		&:after {
		    content: "";
		    width: 0;
		    position: absolute;
		    right: -82px;
		    border-left: 30px solid white;
		    border-top: 52px solid transparent;
		    border-bottom: 52px solid transparent;
		    bottom: 0;
		}
	}
}


.hex-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 80%;
	margin: 0 auto;
}


.hexagon {
    width: 130px;
    height: 150px;
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    float: left;
    margin: 3px;
    filter: drop-shadow(-3px 4px 15px #2196F3);
    margin-bottom: -37px;
}

.hexagon > div {
    width: 100%;
    height: 100%;
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2px 3px 3px $brand-primary);
}

.hexagon img {
	object-fit: contain;
	object-position: center;
	max-width: 100%;
	max-height: 100%;
	padding: 30px;
}

.hex-break {
	width: 100%;
	display: none;

	@media (max-width: 991px) {
		display: block;
	}
}