@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300");
.navbar {
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  font-size: 24px;
}

.navbar-nav .nav-link {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.navbar-inverse input[type=text],
.navbar-inverse input[type=password] {
  color: #fff;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
}

.navbar-inverse input[type=text]:focus,
.navbar-inverse input[type=password]:focus {
  box-shadow: inset 0 -2px 0 #fff;
}

.navbar-inverse input[type=text]:-ms-input-placeholder,
.navbar-inverse input[type=password]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-inverse input[type=text]::placeholder,
.navbar-inverse input[type=password]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.bg-inverse {
  background-color: #fff !important;
}

.btn-primary {
  position: relative;
}

.btn-primary:focus {
  background-color: #2196F3;
}

.btn-primary:hover, .btn-primary:active:hover {
  background-color: #0d87e9;
}

.btn-primary:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-primary:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-size: 1000% 1000%;
  background-position: 50%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: background .5s, opacity 1s;
}

.btn-primary:active:after {
  background-size: 0 0;
  opacity: .2;
  transition: 0s;
}

.btn-primary.disabled:after, .btn-primary[disabled]:after {
  display: none;
}

.btn-outline-primary {
  position: relative;
}

.btn-outline-primary:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-size: 1000% 1000%;
  background-position: 50%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: background .5s, opacity 1s;
}

.btn-outline-primary:active:after {
  background-size: 0 0;
  opacity: .2;
  transition: 0s;
}

.btn-outline-primary.disabled:after, .btn-outline-primary[disabled]:after {
  display: none;
}

.btn-secondary {
  position: relative;
}

.btn-secondary:focus {
  background-color: #fff;
}

.btn-secondary:hover, .btn-secondary:active:hover {
  background-color: #f0f0f0;
}

.btn-secondary:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-secondary:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-size: 1000% 1000%;
  background-position: 50%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: background .5s, opacity 1s;
}

.btn-secondary:active:after {
  background-size: 0 0;
  opacity: .2;
  transition: 0s;
}

.btn-secondary.disabled:after, .btn-secondary[disabled]:after {
  display: none;
}

.btn-outline-secondary {
  position: relative;
}

.btn-outline-secondary:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-size: 1000% 1000%;
  background-position: 50%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: background .5s, opacity 1s;
}

.btn-outline-secondary:active:after {
  background-size: 0 0;
  opacity: .2;
  transition: 0s;
}

.btn-outline-secondary.disabled:after, .btn-outline-secondary[disabled]:after {
  display: none;
}

.btn-success {
  position: relative;
}

.btn-success:focus {
  background-color: #4CAF50;
}

.btn-success:hover, .btn-success:active:hover {
  background-color: #439a46;
}

.btn-success:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-success:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-size: 1000% 1000%;
  background-position: 50%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: background .5s, opacity 1s;
}

.btn-success:active:after {
  background-size: 0 0;
  opacity: .2;
  transition: 0s;
}

.btn-success.disabled:after, .btn-success[disabled]:after {
  display: none;
}

.btn-outline-success {
  position: relative;
}

.btn-outline-success:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-size: 1000% 1000%;
  background-position: 50%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: background .5s, opacity 1s;
}

.btn-outline-success:active:after {
  background-size: 0 0;
  opacity: .2;
  transition: 0s;
}

.btn-outline-success.disabled:after, .btn-outline-success[disabled]:after {
  display: none;
}

.btn-info {
  position: relative;
}

.btn-info:focus {
  background-color: #9C27B0;
}

.btn-info:hover, .btn-info:active:hover {
  background-color: #862197;
}

.btn-info:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-info:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-size: 1000% 1000%;
  background-position: 50%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: background .5s, opacity 1s;
}

.btn-info:active:after {
  background-size: 0 0;
  opacity: .2;
  transition: 0s;
}

.btn-info.disabled:after, .btn-info[disabled]:after {
  display: none;
}

.btn-outline-info {
  position: relative;
}

.btn-outline-info:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-size: 1000% 1000%;
  background-position: 50%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: background .5s, opacity 1s;
}

.btn-outline-info:active:after {
  background-size: 0 0;
  opacity: .2;
  transition: 0s;
}

.btn-outline-info.disabled:after, .btn-outline-info[disabled]:after {
  display: none;
}

.btn-warning {
  position: relative;
}

.btn-warning:focus {
  background-color: #ff9800;
}

.btn-warning:hover, .btn-warning:active:hover {
  background-color: #e08600;
}

.btn-warning:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-warning:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-size: 1000% 1000%;
  background-position: 50%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: background .5s, opacity 1s;
}

.btn-warning:active:after {
  background-size: 0 0;
  opacity: .2;
  transition: 0s;
}

.btn-warning.disabled:after, .btn-warning[disabled]:after {
  display: none;
}

.btn-outline-warning {
  position: relative;
}

.btn-outline-warning:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-size: 1000% 1000%;
  background-position: 50%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: background .5s, opacity 1s;
}

.btn-outline-warning:active:after {
  background-size: 0 0;
  opacity: .2;
  transition: 0s;
}

.btn-outline-warning.disabled:after, .btn-outline-warning[disabled]:after {
  display: none;
}

.btn-danger {
  position: relative;
}

.btn-danger:focus {
  background-color: #e51c23;
}

.btn-danger:hover, .btn-danger:active:hover {
  background-color: #cb171e;
}

.btn-danger:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-danger:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-size: 1000% 1000%;
  background-position: 50%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: background .5s, opacity 1s;
}

.btn-danger:active:after {
  background-size: 0 0;
  opacity: .2;
  transition: 0s;
}

.btn-danger.disabled:after, .btn-danger[disabled]:after {
  display: none;
}

.btn-outline-danger {
  position: relative;
}

.btn-outline-danger:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-size: 1000% 1000%;
  background-position: 50%;
  border: none;
  opacity: 0;
  pointer-events: none;
  transition: background .5s, opacity 1s;
}

.btn-outline-danger:active:after {
  background-size: 0 0;
  opacity: .2;
  transition: 0s;
}

.btn-outline-danger.disabled:after, .btn-outline-danger[disabled]:after {
  display: none;
}

.btn {
  text-transform: uppercase;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}

.btn-link {
  box-shadow: none;
  color: #2196F3;
}

.btn-link:hover, .btn-link:focus {
  box-shadow: none;
  color: #0a6ebd;
  text-decoration: underline;
}

.btn-link.disabled:hover, .btn-link.disabled:active:hover, .btn-link[disabled]:hover, .btn-link[disabled]:active:hover,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:active:hover {
  color: #666;
  text-decoration: none;
}

.btn-secondary.disabled, .btn-secondary[disabled],
fieldset[disabled] .btn-secondary {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:hover,
fieldset[disabled] .btn-secondary:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn.dropdown-toggle::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0;
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  font-family: "Quicksand", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

p {
  margin: 0 0 1em;
}

input,
button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
}

a {
  transition: all 0.2s;
}

.table-hover > tbody > tr,
.table-hover > tbody > tr > th,
.table-hover > tbody > tr > td {
  transition: all 0.2s;
}

.thead-inverse th {
  background-color: #2196F3;
}

label {
  font-weight: normal;
}

textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: inset 0 -1px 0 #ddd;
  font-size: 16px;
  line-height: 2.5;
  transition: all 0.2s;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -2px 0 #2196F3;
}

textarea[disabled], textarea[readonly],
textarea.form-control[disabled],
textarea.form-control[readonly],
input.form-control[disabled],
input.form-control[readonly],
input[type=text][disabled],
input[type=text][readonly],
input[type=password][disabled],
input[type=password][readonly],
input[type=email][disabled],
input[type=email][readonly],
input[type=number][disabled],
input[type=number][readonly],
[type=text].form-control[disabled],
[type=text].form-control[readonly],
[type=password].form-control[disabled],
[type=password].form-control[readonly],
[type=email].form-control[disabled],
[type=email].form-control[readonly],
[type=tel].form-control[disabled],
[type=tel].form-control[readonly],
[contenteditable].form-control[disabled],
[contenteditable].form-control[readonly] {
  box-shadow: none;
  border-bottom: 1px dotted #ddd;
}

textarea.input-sm,
textarea.form-control.input-sm,
input.form-control.input-sm,
input[type=text].input-sm,
input[type=password].input-sm,
input[type=email].input-sm,
input[type=number].input-sm,
[type=text].form-control.input-sm,
[type=password].form-control.input-sm,
[type=email].form-control.input-sm,
[type=tel].form-control.input-sm,
[contenteditable].form-control.input-sm {
  font-size: 0.875rem;
}

textarea.input-lg,
textarea.form-control.input-lg,
input.form-control.input-lg,
input[type=text].input-lg,
input[type=password].input-lg,
input[type=email].input-lg,
input[type=number].input-lg,
[type=text].form-control.input-lg,
[type=password].form-control.input-lg,
[type=email].form-control.input-lg,
[type=tel].form-control.input-lg,
[contenteditable].form-control.input-lg {
  font-size: 1.25rem;
}

select,
select.form-control {
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 0;
  padding-right: 0\9;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right center;
  box-shadow: inset 0 -1px 0 #ddd;
  font-size: 16px;
  line-height: 1.5;
}

select::-ms-expand,
select.form-control::-ms-expand {
  display: none;
}

select.input-sm,
select.form-control.input-sm {
  font-size: 0.875rem;
}

select.input-lg,
select.form-control.input-lg {
  font-size: 1.25rem;
}

select:focus,
select.form-control:focus {
  box-shadow: inset 0 -2px 0 #2196F3;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
}

select[multiple],
select.form-control[multiple] {
  background: none;
}

.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
  padding-left: 25px;
}

.radio input[type="radio"],
.radio input[type="checkbox"],
.radio-inline input[type="radio"],
.radio-inline input[type="checkbox"],
.checkbox input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="radio"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -25px;
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-right: 4px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}

input[type="radio"]:before, input[type="radio"]:after,
.radio input[type="radio"]:before,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:before,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: 240ms;
}

input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: 1px;
  background-color: #2196F3;
  transform: scale(0);
}

input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -2px;
  border: 2px solid #212121;
}

input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  transform: scale(0.5);
}

input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #666;
}

input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #2196F3;
}

input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #666;
}

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"]:focus:after,
.checkbox input[type="checkbox"]:focus:after,
.checkbox-inline input[type="checkbox"]:focus:after {
  border-color: #2196F3;
}

input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: 240ms;
}

input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  transform: rotate(45deg);
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #2196F3;
  border-color: #2196F3;
}

input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #666;
}

input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #666;
  border-color: transparent;
}

.has-warning input:not([type=checkbox]),
.has-warning .form-control,
.has-warning input.form-control[readonly],
.has-warning input[type=text][readonly],
.has-warning [type=text].form-control[readonly],
.has-warning input:not([type=checkbox]):focus,
.has-warning .form-control:focus {
  border-bottom: none;
  box-shadow: inset 0 -2px 0 #ff9800;
}

.has-error input:not([type=checkbox]),
.has-error .form-control,
.has-error input.form-control[readonly],
.has-error input[type=text][readonly],
.has-error [type=text].form-control[readonly],
.has-error input:not([type=checkbox]):focus,
.has-error .form-control:focus {
  border-bottom: none;
  box-shadow: inset 0 -2px 0 #e51c23;
}

.has-success input:not([type=checkbox]),
.has-success .form-control,
.has-success input.form-control[readonly],
.has-success input[type=text][readonly],
.has-success [type=text].form-control[readonly],
.has-success input:not([type=checkbox]):focus,
.has-success .form-control:focus {
  border-bottom: none;
  box-shadow: inset 0 -2px 0 #4CAF50;
}

.has-warning .input-group-addon, .has-error .input-group-addon, .has-success .input-group-addon {
  color: #666;
  border-color: transparent;
  background-color: transparent;
}

.form-group-lg select,
.form-group-lg select.form-control {
  line-height: 1.5;
}

.nav-tabs .nav-item + .nav-item {
  margin-left: 0;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:focus {
  margin-right: 0;
  background-color: transparent;
  border: none;
  color: #666;
  box-shadow: inset 0 -1px 0 #ddd;
  transition: all 0.2s;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus:hover {
  background-color: transparent;
  box-shadow: inset 0 -2px 0 #2196F3;
  color: #2196F3;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus {
  border: none;
  box-shadow: inset 0 -2px 0 #2196F3;
  color: #2196F3;
}

.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus:hover {
  border: none;
  color: #2196F3;
}

.nav-tabs .nav-link.disabled {
  box-shadow: inset 0 -1px 0 #ddd;
}

.nav-tabs.nav-justified .nav-link,
.nav-tabs.nav-justified .nav-link:hover,
.nav-tabs.nav-justified .nav-link:focus,
.nav-tabs.nav-justified .nav-link.active,
.nav-tabs.nav-justified .nav-link.active:hover,
.nav-tabs.nav-justified .nav-link.active:focus {
  border: none;
}

.nav-tabs .dropdown-menu {
  margin-top: 0;
}

.dropdown-menu {
  margin-top: 0;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.alert h1, .alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {
  color: #fff;
}

.alert a:not(.close):not(.btn),
.alert .alert-link {
  color: #fff;
  font-weight: bold;
}

.alert .close {
  color: #fff;
}

.tag {
  padding: 4px 6px 4px;
}

.progress {
  height: 6px;
  border-radius: 0;
}

.close {
  font-size: 34px;
  font-weight: 300;
  line-height: 24px;
  opacity: 0.6;
  transition: all 0.2s;
}

.close:hover {
  opacity: 1;
}

.popover {
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.carousel-caption h1, .carousel-caption h2, .carousel-caption h3, .carousel-caption h4, .carousel-caption h5, .carousel-caption h6 {
  color: inherit;
}

@font-face {
  font-family: 'geometria-light';
  src: url("/assets/fonts/geometria_light_macroman/geometria-light-webfont.woff2") format("woff2"), url("/assets/fonts/geometria_light_macroman/geometria-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.masterhead {
  padding: 60px 15px 30px;
  background: aquamarine;
}

.masterhead .logo {
  max-height: 100%;
  max-width: 100%;
  height: 150px;
  margin-bottom: 30px;
}

.masterhead h1,
.masterhead h3 {
  letter-spacing: 0.250em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.masterhead h1 {
  font-size: 2.7em;
}

.masterhead h3 {
  display: inline-block;
  padding: 15px;
  border: 1px solid;
}

.masterhead ul {
  list-style: none;
  padding: 20px 0;
}

.masterhead ul li {
  margin: 0 15px 20px;
  display: inline-block;
}

.masterhead ul a:not(.btn) {
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.masterhead ul a:not(.btn):hover, .masterhead ul a:not(.btn):active, .masterhead ul a:not(.btn):focus {
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.retroshadow {
  font-family: 'Quicksand', sans-serif;
  color: black;
  text-shadow: 1px 1px 0px #d5d5d5, 5px 4px 0px rgba(0, 0, 0, 0.2);
}

.section {
  padding: 60px 0;
}

.section:nth-child(even) {
  background-color: #5cb85c;
}

.section:nth-child(even) * {
  color: white;
}

.section .section-item {
  margin-bottom: 30px;
}

.app {
  padding: 60px 15px;
  background-color: #212121;
  color: white;
}

.app * {
  color: inherit;
}

.app h2 {
  text-transform: uppercase;
  border: 1px solid;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
}

#main {
  min-height: 100vh;
}

#main > .row {
  min-height: 100vh;
}

.content h3 {
  color: aquamarine;
}

.content .fa-star {
  color: yellow;
}

.content hr {
  background: aquamarine;
}

.hex-holder {
  display: inline-block;
  padding: 60px 0;
}

.hex-holder:after {
  content: '';
  display: table;
  clear: both;
}

.hex-holder:hover .hex {
  opacity: 0.6;
}

.hex {
  width: 104px;
  height: 60px;
  background: white;
  padding: 0 10px;
  position: relative;
  margin: 25px 2.5px 5px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 3px;
  filter: drop-shadow(2px 3px 3px #2196F3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .1s linear;
}

.hex:hover {
  transform: scale(1.1);
  opacity: 1 !important;
  position: relative;
  z-index: 9;
}

.hex img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 30px solid white;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}

.hex:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid white;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hex-row {
  clear: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hex-2 .hex {
  height: 105px;
  width: 80px;
  background: white;
  padding: 10px 0;
  position: relative;
  margin: 5px 35px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s linear;
}

.hex-2 .hex:hover {
  transform: scale(1.2);
  opacity: 1 !important;
}

.hex-2 .hex img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.hex-2 .hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-right: 30px solid white;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
  position: absolute;
  left: -82px;
  top: 0;
}

.hex-2 .hex:after {
  content: "";
  width: 0;
  position: absolute;
  right: -82px;
  border-left: 30px solid white;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
  bottom: 0;
}

.hex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}

.hexagon {
  width: 130px;
  height: 150px;
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  float: left;
  margin: 3px;
  filter: drop-shadow(-3px 4px 15px #2196F3);
  margin-bottom: -37px;
}

.hexagon > div {
  width: 100%;
  height: 100%;
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(2px 3px 3px #2196F3);
}

.hexagon img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  padding: 30px;
}

.hex-break {
  width: 100%;
  display: none;
}

@media (max-width: 991px) {
  .hex-break {
    display: block;
  }
}

.contact-form {
  background-color: white;
  color: black;
  padding: 20px;
  margin: 60px auto;
  max-width: 600px;
  text-align: left;
}

.contact-form legend {
  margin-bottom: 25px;
}

.contact-form .btn {
  color: white;
}

.contact-form label {
  font-size: 0.85em;
  transition: all .3s linear;
  position: absolute;
  top: 9px;
}

.contact-form .form-group {
  position: relative;
}

.contact-form .form-control {
  margin-bottom: 2.5rem;
}

.contact-form .form-control:valid + label,
.contact-form .form-control:focus + label {
  top: -15px;
}

.contact-box {
  background-color: white;
  color: black;
  padding: 20px;
  margin: 60px auto;
  max-width: 600px;
  text-align: left;
}

.contact-box .hs-form .hs-input {
  width: 100%;
  border-radius: 0;
}

.contact-box .hs-form .btn {
  color: white;
  cursor: pointer;
}

.contact-box .hs-form .input {
  box-sizing: border-box;
}

.contact-box .hs-form .hs-input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 36px;
  padding-left: 15px;
  padding-right: 15px;
}

.contact-box .hs-form textarea {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*# sourceMappingURL=styles.css.map */
